.loginMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}
.loginHeader{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 28px;
    color: orange;
}
small{
    color:#fff;
}
.formCont{
border-radius: 12px;
box-shadow: 0px 0px 5px #000;
width: 75%;
min-height: 200px;
padding:18px;
max-width: 450px;
}
input{
    height:42px;
    width:100%;
    border-radius: 4px;
    border: none;
    margin-top: 12px;
    padding-left: 8px;
}
.btnCont{
    margin-top:16px;
    display: flex;
    justify-content: flex-end;
}
.btn{
    width: 88px;
    height:32px;
    border: none;
    border-radius: 4px;
    background-color: orange;

}