.nav{
    height: 56px;
    overflow:hidden;
    box-shadow: 0px 1px 5px rgb(241, 241, 241);
}
.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: var(--padding-8px);
    padding-right: var(--padding-8px);
}
.container p{
    color:var(--text-color);
    font-weight: bold;
    font-size: 1.3em;
}
.imageContainer{
    width: 75px;
    height: 75px;
}
.nav img{
height:100%;
width: 100%;
}
.container button{
    background:none;
    border:none
}
.menu{
    display: block;
}
@media all and (min-width:960px){
    .menu{
        display: none;
    }
}