.mainContainer{
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 21;
}
.subContainer{
    background-color: #fff;
    width: 50%;
    height: 100%;
    max-width: 220px;
}
.header{
    height: 58px;
    background-color: var(--text-color);
    color: #fff;
    display: flex;
    align-items: flex-end;
    padding-bottom: 4px;
    padding-left: 6px;
}
.body{
    padding: 24px 8px 12px 16px;
}
.body a{
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.05em;
    text-decoration: none;
    color:rgb(46, 46, 46)
}
.body a:hover, .body a:active{
    color: var(--text-color);
    font-weight: bold;
}
@media all and (min-width:960px){
    .mainContainer{
      position: static;
      width: 200px;
      min-height: 100vh;
      height: 100%;
    }
    .subContainer{
        width: 100%;  
       max-width: 290px;
       min-height: 100vh;

    }
  }