*{
  box-sizing: border-box;
  margin:0px;
  padding:0px
}
:root{
  --bg-color: rgb(252, 248, 210);
  --text-color:rgb(2, 7, 51);
  --padding-8px:8px;
  --card-height:320px
}
Body {
  background-color:var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  font-family: Poppins;
 
}
@media all and (min-width:960px){
  .App{
    display: flex;
  }
  .secondCont{
    width: calc(100vw - 200px);
    overflow-y: scroll;
    height: calc(100vh - 1px);
  }
  Body{
    overflow:hidden;
  }
}
.feather{
  color:#000 !important;
}